
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 24% 9%;
    --foreground: 0 0% 100%;
    --card: 240 24% 12%;
    --card-foreground: 0 0% 100%;
    --popover: 240 24% 9%;
    --popover-foreground: 0 0% 100%;
    --primary: 3 100% 61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 24% 18%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 24% 18%;
    --muted-foreground: 240 10% 70%;
    --accent: 3 100% 73%;
    --accent-foreground: 240 24% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 24% 18%;
    --input: 240 24% 18%;
    --ring: 3 100% 61%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
    background: radial-gradient(circle at top right, #1a1a2e 0%, #11111b 100%);
  }
}

.text-gradient-red {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-[#ff7f77];
}
